extends ../../../templates/default

block vars
  -var title = 'Health Care'
  -var description = 'We have helped advanced medical centers meet all their code and environmental needs in all parts of the north east.'

block content
  h1 Health Care
  div
  .row
    .col-md-6
      button.btn.btn-default.isotope-filter(data-filter=".central-vermont-medical-center") Central Vermont Medical Center
      button.btn.btn-default.isotope-filter(data-filter=".fletcher-allen-health") Fletcher Allen Health Care
      button.btn.btn-default.isotope-filter(data-filter=".northwestern-medical-center") Northwestern Medical Center
      button.btn.btn-default.isotope-filter(data-filter=".rumford-medical-center") Rumford Medical Center
      button.btn.btn-default.isotope-filter(data-filter=".rutland-regional-medical-center") Rutland Regional Medical Center
      button.btn.btn-default.isotope-filter(data-filter=".white-river-junction-va-hospital") White River Junction V.A. Hospital
      button.btn.btn-default.isotope-filter(data-filter="")
        span.glyphicon.glyphicon-remove-circle
      hr
      ul.list-group.isotope
        a.list-group-item.central-vermont-medical-center(href='/portfolio/health-care/central-vermont-medical-center---chilled-water-infrastructure-upgrade-project')
          h5.list-group-item-heading
            | Central Vermont Medical Center - Chilled Water Infrastructure Upgrade Project
            br
            span.pull-right Berlin, VT
          p.list-group-item-text.small
        a.list-group-item.central-vermont-medical-center(href='/portfolio/health-care/central-vermont-medical-center-hvac-infrastructure-upgrade-project')
          h5.list-group-item-heading
            | Central Vermont Medical Center HVAC Infrastructure Upgrade Project
            br
            span.pull-right Berlin, VT
          p.list-group-item-text.small
        a.list-group-item.central-vermont-medical-center(href='/portfolio/health-care/central-vermont-medical-center-modernization-project')
          h5.list-group-item-heading Central Vermont Medical Center Modernization Project
            br
            span.pull-right Berlin, VT
          p.list-group-item-text.small
        a.list-group-item.central-vermont-medical-center(href='/portfolio/health-care/central-vermont-medical-center-three-east-renovation-project')
          h5.list-group-item-heading Central Vermont Medical Center Three East Renovation Project
            br
            span.pull-right Berlin, VT
          p.list-group-item-text.small
        a.list-group-item(href='/portfolio/health-care/community-health-center-at-burlington-project')
          h5.list-group-item-heading Community Health Center at Burlington Project
            br
            span.pull-right Burlington, VT
          p.list-group-item-text.small
        a.list-group-item(href='/portfolio/health-care/copley-hospital-master-plan-and-boiler-plant-project')
          h5.list-group-item-heading Copley Hospital Master Plan and Boiler Plant Project
            br
            span.pull-right Morrisville, VT
          p.list-group-item-text.small
        a.list-group-item.fletcher-allen-health(href='/portfolio/health-care/fletcher-allen-health-care-angiography-laboratory-no-1187-renovation')
          h5.list-group-item-heading
            | Fletcher Allen Health Care Angiography Laboratory No. 1187 Renovation
            br
            span.pull-right Burlington, Vermont
          p.list-group-item-text.small
        a.list-group-item.fletcher-allen-health(href='/portfolio/health-care/fletcher-allen-health-care-angiography-laboratory-no-22-renovation')
          h5.list-group-item-heading
            | Fletcher Allen Health Care Angiography Laboratory No. 22 Renovation
            br
            span.pull-right Burlington, VT
          p.list-group-item-text.small
        a.list-group-item.fletcher-allen-health(href='/portfolio/health-care/fletcher-allen-health-care-cardiology-catheterization-laboratory-no-3-renovation')
          h5.list-group-item-heading
            | Fletcher Allen Health Care Cardiology Catheterization Laboratory No. 3 Renovation
            br
            span.pull-right Burlington, VT
          p.list-group-item-text.small
        a.list-group-item.fletcher-allen-health(href='/portfolio/health-care/fletcher-allen-health-care-cardiology-renovation')
          h5.list-group-item-heading Fletcher Allen Health Care Cardiology Renovation
            br
            span.pull-right Burlington, VT
          p.list-group-item-text.small
        a.list-group-item.fletcher-allen-health(href='/portfolio/health-care/fletcher-allen-health-care-cvmc-kidney-dialysis-unit-renovation-project')
          h5.list-group-item-heading
            | Fletcher Allen Health Care CVMC Kidney Dialysis Unit Renovation Project
            br
            span.pull-right Berlin, VT
          p.list-group-item-text.small
        a.list-group-item.fletcher-allen-health(href='/portfolio/health-care/fletcher-allen-health-care-inpatient-kidney-dialysis-unit-project')
          h5.list-group-item-heading
            | Fletcher Allen Health Care Inpatient Kidney Dialysis Unit Project
            br
            span.pull-right Burlington, VT
          p.list-group-item-text.small
        a.list-group-item.fletcher-allen-health(href='/portfolio/health-care/fletcher-allen-health-care-inpatient-psychiatric-unit-expansion-project')
          h5.list-group-item-heading
            | Fletcher Allen Health Care Inpatient Psychiatric Unit Expansion Project
            br
            span.pull-right Burlington, VT
          p.list-group-item-text.small
        a.list-group-item.fletcher-allen-health(href='/portfolio/health-care/fletcher-allen-health-care-mri-renovation-project')
          h5.list-group-item-heading Fletcher Allen Health Care MRI Renovation Project
            br
            span.pull-right Burlington, VT
          p.list-group-item-text.small
        a.list-group-item.fletcher-allen-health(href='/portfolio/health-care/fletcher-allen-health-care-operating-room-no-9-renovation-project')
          h5.list-group-item-heading
            | Fletcher Allen Health Care Operating Room No. 9 Renovation Project
            br
            span.pull-right Burlington, VT
          p.list-group-item-text.small
        a.list-group-item.fletcher-allen-health(href='/portfolio/health-care/fletcher-allen-health-care-pediatric-wing-renovation-project')
          h5.list-group-item-heading
            | Fletcher Allen Health Care Pediatric Wing Renovation Project
            br
            span.pull-right Burlington, VT
          p.list-group-item-text.small
        a.list-group-item.fletcher-allen-health(href='/portfolio/health-care/fletcher-allen-health-care-petct-scanner-renovation')
          h5.list-group-item-heading Fletcher Allen Health Care PET/CT Scanner Renovation
            br
            span.pull-right Burlington, VT
          p.list-group-item-text.small
        a.list-group-item.fletcher-allen-health(href='/portfolio/health-care/fletcher-allen-health-care-spectct-scanner-renovation')
          h5.list-group-item-heading Fletcher Allen Health Care SPECT/CT Scanner Renovation
            br
            span.pull-right Burlington, VT
          p.list-group-item-text.small
        a.list-group-item.fletcher-allen-health(href='/portfolio/health-care/fletcher-allen-health-intensive-care-unit-renovation')
          h5.list-group-item-heading Fletcher Allen Health Intensive Care Unit Renovation
            br
            span.pull-right Burlington, VT
          p.list-group-item-text.small
        a.list-group-item.northwestern-medical-center(href='/portfolio/health-care/northwestern-medical-center-diagnostic-imaging-suite-and-women%E2%80%99s-health-services-suite-renovation-project')
          h5.list-group-item-heading
            | Northwestern Medical Center Diagnostic Imaging Suite and Women?s Health Services Suite Renovation Project
            br
            span.pull-right St. Albans, VT
          p.list-group-item-text.small
        a.list-group-item.northwestern-medical-center(href='/portfolio/health-care/northwestern-medical-center-surgical-services-expansion-and-renovation')
          h5.list-group-item-heading
            | Northwestern Medical Center Surgical Services Expansion and Renovation
            br
            span.pull-right St. Albans, VT
          p.list-group-item-text.small
        a.list-group-item.rumford-medical-center(href='/portfolio/health-care/rumford-medical-center-consolidated-inpatient-unit-renovation-and-expansion')
          h5.list-group-item-heading
            | Rumford Medical Center Consolidated Inpatient Unit Renovation and Expansion
            br
            span.pull-right Rumford, ME
          p.list-group-item-text.small
        a.list-group-item.rutland-regional-medical-center(href='/portfolio/health-care/rutland-regional-medical-center-emergency-department--power-plant-project')
          h5.list-group-item-heading
            | Rutland Regional Medical Center Emergency Department & Power Plant Project
            br
            span.pull-right Rutland, VT
          p.list-group-item-text.small
        a.list-group-item.white-river-junction-va-hospital(href='/portfolio/health-care/white-river-junction-va-hospital-mental-health-renovation-project')
          h5.list-group-item-heading VA Hospital Mental Health Renovation Project
            br
            span.pull-right White River Junction, VT
          p.list-group-item-text.small
    .col-md-6
      .img-scroller
        img.img-responsive.img-rounded(src='/files/fletcher_allen.jpg')
  script.
    $(document).ready(function() {
    $thumbnail = $('#thumbnail_img');
    console.log($thumbnail);
    $('a.list-group-item').hover(function() {
    $this = $(this);
    var data_url = $this.attr('data-img-url');
    if(data_url) {
    console.log(data_url);
    $thumbnail.attr('src', data_url);
    }
    });
    $( window ).scroll(function(event) {
    var scrollY = window.pageYOffset;
    $('.img-scroller.affix').css('top', scrollY+'px');
    });
    $('.img-scroller').affix({
    offset: {
    top: 60
    }
    })
    });
