extends ../templates/default

block vars
  -var title = 'Contact / Visit'
  -var description = ' Need to contact someone or find our address? This page should get that started.'


block content
  h1 Contact Us
  
  div
  div
    
    .well
      .row
        .col-md-6
          hr.space
          div(itemscope='', itemtype='http://schema.org/HomeAndConstructionBusiness')
            h3(itemprop='name') L.N. Consulting INC.
            p
              br
            div.text-center
              strong
                a(href='tel:8026551753', itemprop='telephone', style='color: white;') 802 655 1753
            p
              br
            div.text-center
              strong
                a(href='mailto:info@lnconsulting.com', itemprop='email', style='color: white;') info@lnconsulting.com
            p
              br
            
            div.text-center(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')
              span(itemprop='streetAddress') 69 Union St.
              br
              span(itemprop='addressLocality') Winooski
              | ,
              span(itemprop='addressRegion') VT
              |  05404
            div(style="max-width: 150px; margin: auto;")
              hr.space
              a.btn.btn-default.btn-block(target="_blank" style='color: #000;', href='http://maps.google.com/maps?saddr=Current+Location&&daddr=44.493603,-73.189254')
                | Get Directions
        .col-md-6
          div(style='margin-top: 20px;')
            iframe(style='width: 100%', height='400', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='http://maps.google.com/maps?hl=en&q=ln+consulting&ie=UTF8&ll=44.493603,-73.189254&spn=0.034039,0.072012&z=14&iwloc=A&cid=5893640174708323733&output=embed')
      hr
      .row.contact-list
        .col-md-6.col-md-offset-3
          hr.space
          hr.space
          .row
            .col-md-6
              address
                strong Derek Siegler 
                br
                a(href='mailto:derek@lnconsulting.com')
                  span.email derek@lnconsulting.com
            .col-md-6
              address
                strong George Martin
                br
                a(href='mailto:gmartin@lnconsulting.com')
                  span.email gmartin@lnconsulting.com
          .row
            .col-md-6
              address
                strong Jon Watts 
                br
                a(href="mailto:jwatts@lnconsulting.com")
                  span.email jwatts@lnconsulting.com
            .col-md-6
              address
                strong John Askew 
                br          
                a(href='mailto:jaskew@lnconsulting.com')
                  span.email jaskew@lnconsulting.com
          .row
            .col-md-6
              address
                strong Scott Alexander 
                br
                a(href='mailto:salexander@lnconsulting.com')
                  span.email salexander@lnconsulting.com
            .col-md-6
              address
                strong John Magnant 
                br
                a(href='mailto:jmagnant@lnconsulting.com')
                  span.email jmagnant@lnconsulting.com
          .row
            .col-md-6
              address
                strong Ian Donahue 
                br
                a(href='mailto:idonahue@lnconsulting.com')
                  span.email idonahue@lnconsulting.com      
            .col-md-6
              address
                strong Aaron Welch 
                br
                a(href='mailto:awelch@lnconsulting.com')
                  span.email awelch@lnconsulting.com

              