extends ../../templates/default

block vars
  -var title = 'About | More about L.N. Consulting'
  -var description = 'Learn more about L.N. Consulting\'s company and expertise.'

block content
  h1 About

  div
    .row
      .col-md-6.col-md-offset-3
        hr.space
        ul.list-group
          li.list-group-item
            p.list-group-item-text
              | LN Consulting, Inc. is a licensed mechanical, electrical, and plumbing engineering consulting firm with a staff of over 130 combined years of experience.  We complete mechanical, electrical, plumbing and fire protection engineering solutions from the initial project conception through construction.  We utilize creative and cost effective design techniques to provide highly efficient building systems within the project budget.  
          li.list-group-item
            h4 Industries
            p.list-group-item-text
              | We provide engineering and consulting for the following industries: 
              ul
                li Sustainable, Renewable, &amp; Net Zero
                li Hotel, Hospitality, &amp; Food Service
                li University &amp; Educational
                li Residential, Commercial, &amp; Historical
                li Healthcare, Laboratory, Pharmaceutical
                li Municipal &amp; Institutional
          li.list-group-item
            h4 Experience
            p.list-group-item-text
              | Our focus is in the following engineering and consulting services: 
              ul
                li MEP Construction Documents
                li MEP Construction Administration
                li MEP Master Planning
                li Energy Consulting and Modeling Solutions
                li Facility and Campus MEP and Energy Assessments
                li Power Distribution Design up to 15kV
                li Renewable Energy Design Services (Photovoltaic, Wind, Hydro, Solar Hot Water, Geothermal, Lake Water Cooling, Fuel Cell, Biomass, and methane power generation)
                li Power Studies (Short Circuit Analysis, Coordination Studies, Arc-Flash Analysis, Equipment Duty Analysis)
                li MEP Commissioning
                li Thermal Imaging
                li Blower Door Testing


      //- .col-md-6
        div
          img.img-responsive.img-rounded(src='/files/shelburne_farms.jpg')
