.brand.navbar-brand
{
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
}

a.navbar-brand.brand {
  font-size: 28px;
}

body {
  background-color: #51534a;
  /* Background pattern from subtlepatterns.com
  background-image: url('noisy_grid.png');
  background-color: transparent ! important;
  background-repeat: repeat;
  */
  color: #FFF;

  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 30px; /* 30px */
}

.thumbnail {
  padding: 10px;
  border-width: 0px;
  background-color: #656F61;
  min-height: 320px;
  font-family: 'Quando', serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
p {
  color: #FFF;
}

h1
{
  border-bottom: 2px solid #51534a;
  padding-bottom: 5px;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}

img.content-secondary
{
  max-width: 100%;
}

img.img-responsive.img-rounded
{
  margin: 0px auto 0px auto;
}

h3.list-group-item,
.list-group-item h4,
a.list-group-item
{
  font-family: 'Quando', serif;
  /* background-color: #E6E6E6; */
}

.jumbotron,
.well, a.list-group-item,
li.list-group-item {
  background-color: #656F61;
  color: #FFF;
  border-color: #656F61;
}

a.list-group-item .list-group-item-heading,
a.list-group-item .list-group-item-text {
  color: inherit;
}

a.list-group-item:hover, a.list-group-item:focus,
a.list-group-item .list-group-item-heading:hover
{
  color: #555 ! important;
  text-decoration: none;
  background-color: #f5f5f5;
}

h5.list-group-item-heading span.pull-right {
  margin-top: 5px;
}

.navbar .active
{
  background-color: #E6E6E6;
}

.navbar, .dropdown-menu
{
  background-color: #84bd00;
  border-color: #51534a;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.nav.navbar-nav {
  text-align: right;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  color: #51534a;
}

.navbar-collapse {
  border-top: 0;
}

.dropdown-menu li a,
.dropdown-menu li a span
{
  color: white;
}

.container p
{
  max-width: 600px;
}

.container ul a.list-group-item {
  padding: 30px;
  width: 100%;
}

.container .btn {
  border-radius: 0;
  border: 0;
}

.jumbotron p{
  max-width: 100%;
}

.front .thumbnail {
  min-height: 0px ! important;
}
.front a{
  /*min-height: 420px;*/
  text-decoration: none;
  color: inherit;
}

.front .thumbnail img{
  max-height: 230px;
}

u {
  text-decoration:none;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
}

#homepage-carousel .carousel-inner img {
  height: 400px;
  margin: auto;
}

.carousel-caption {
  background-color:rgba(81, 83, 74, 0.5)
}

.contact-list {
  text-align: center;
}

.contact-list p a{
  color: white;
}

.contact-list a .email {
  color: white;
}

hr.space {
  border-top: 0;
}


@media (max-width: 992px)
{
  h1
  {
    font-size: 24px;
    padding-left: 110px;
  }

  .img-scroller {
    display: none;
  }
}
@media (min-width: 992px)
{


  img.content-secondary
  {
    width: 80%;
    margin: 0px auto 10px auto;
  }
  .img-scroller {
    width: 455px;
  }
  .img-scroller.affix {
    position: inherit;
    top: 30px;
  }
  .img-scroller.affix.img {
    position: relative;
  }
  .col-md-12 p {
    display: block;
    margin: auto;
  }
}
@media (min-width: 600px)
{
  h1, h3, h4
  {
    text-align: center;
  }
  .frontp,
  .content
  {
    width: 50%;
    margin: 0px auto 10px auto;
  }
  /*
  .container p,
  *:not(.navbar) > .container ul:not(.list-group)
  {
    width: 50%;
    margin: 0px auto 10px auto;
  }
  */
}

@media (max-width: 600px) {
  .sm-hide { display: none; }
}
